*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container
	{
	margin:0 auto;
    padding:60px 0;
	width:1170px;	
	background-color:#fff;
	/* display:flex; */
	
	}
.banner{
	display:flex;
	
	justify-content:space-between;
}
.box1
	{
     margin-right:0;		
	width:45%;
	
	border: 1px solid #fafafac4;
    box-shadow: 3px 7px 13px #beb2b242;
	position:relative;
	padding:20px 15px 30px 50px;
	
	}
.box1 .role1
{
	font-family: sans-serif;
    font-size: 13px;
	color:#8f696954;

}
.box1 .name-left
{
	font-size:20px;
	font-weight:700;
	font-family: system-ui;
}


 .image1 img
{
	display: block;
	width:70px;
	border-radius:10px;
 
} 

.image1
{
	position:absolute;
	top:15px;
	left:-35px;
	
	
}

.fa
{
	color:#53a5e0;
}

/* .details-left b
{ 	color:#53a5e0;
	font-size:25px;
} */
.details-left
{
	 font-style:italic;
	 
}

.box1 .role1
{
	font-family: sans-serif;
    font-size: 13px;
	color:#8f696954;
	
}

.box1 .name-left
{
	font-size:20px;
	font-weight:700;
	font-family: system-ui;
}


.details-left
{
	 font-style:italic;
	 
}

/* .details-right b
{ 	color:#53a5e0;
	font-size:25px;
	
} */
.unorder
{
	margin: 26px 452px;
	
}

ul li
{
	margin:56px 0;
	width:11px;
	height:11px;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
}

 .x
{
	background-color:blue;
	display:inline-block;
	
}
	
	